[mor-theme="light"] {
    --theme-color-primary: #7266ba;
    --theme-color-success: #00b19d;
    --theme-color-warning: #f08300;
    --theme-color-danger: #f5222d;
    --theme-color-link: #456199;

    --theme-color-secondary: #fafafa;
    --theme-color-white: #ffffff;
    --theme-color-black: #000000;

    --theme-text-white: #fff;
    --theme-text-primary: rgba(0, 0, 0, 0.85);
    --theme-text-color: rgba(0, 0, 0, 0.65);
    --theme-text-secondary: rgba(0, 0, 0, 0.45);
    --theme-text-disabled: rgba(0, 0, 0, 0.25);

    --theme-bg-block: #fff;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-white: #fff;
    --theme-bg-black: #000;

    --theme-bg-primary: rgba(126, 113, 196, .1);
    --theme-bg-success: rgba(60, 186, 167, .1);
    --theme-bg-warning: rgba(240, 131, 0, .1);
    --theme-bg-danger: rgba(245, 34, 45, .1);
    --theme-bg-link: rgba(69, 97, 153, .1);
    --theme-bg-text: rgba(51, 51, 51, .1);
    --theme-bg-secondary: rgba(250, 250, 250, .1);
    --theme-bg-disabled: rgba(0, 0, 0, 0.25);

    --theme-border-base: #dcddde;
    --theme-border-divider: #f0f0f0;
    --theme-border-input: #d9d9d9;
    --theme-border-radius: 2px;

    --theme-font-size: 13px;

    --theme-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

[mor-theme="dark"] {
    --theme-color-primary: #7266ba;
    --theme-color-success: #00b19d;
    --theme-color-warning: #f08300;
    --theme-color-danger: #f5222d;
    --theme-color-link: #456199;

    --theme-color-secondary: #fafafa;
    --theme-color-white: #ffffff;
    --theme-color-black: #000000;

    --theme-text-white: #fff;
    --theme-text-primary: rgba(0, 0, 0, 0.85);
    --theme-text-color: rgba(0, 0, 0, 0.65);
    --theme-text-secondary: rgba(0, 0, 0, 0.45);
    --theme-text-disabled: rgba(0, 0, 0, 0.25);

    --theme-bg-block: #fff;
    --theme-bg-block-dark: #f5f6f7;
    --theme-bg-white: #fff;
    --theme-bg-black: #000;

    --theme-bg-primary: rgba(126, 113, 196, .1);
    --theme-bg-success: rgba(60, 186, 167, .1);
    --theme-bg-warning: rgba(240, 131, 0, .1);
    --theme-bg-danger: rgba(245, 34, 45, .1);
    --theme-bg-link: rgba(69, 97, 153, .1);
    --theme-bg-text: rgba(51, 51, 51, .1);
    --theme-bg-secondary: rgba(250, 250, 250, .1);
    --theme-bg-disabled: rgba(0, 0, 0, 0.25);

    --theme-border-base: #dcddde;
    --theme-border-divider: #f0f0f0;
    --theme-border-input: #d9d9d9;
    --theme-border-radius: 2px;

    --theme-font-size: 13px;

    --theme-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}